@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Patron>;

<h2>Books you've checked out: </h2>

<div class="box">
  @if (@Model.Any())
  {
    @foreach (Patron patron in Model)
    {
      <h4>@Html.ActionLink($"{book.Title}", "Details", new {book = book.BookId})</h4>
    }
  }
  else 
  {
    <h4>There's no books here, you should probably read more...</h4>
  }
</div>

<p>@Html.ActionLink("Checkout another book", "Index", "Books") </p>
