@{
  Layout = "_Layout";
}

<pre>
       .--.                   .---.
   .---|__|           .-.     |~~~|
.--|===|--|_          |_|     |~~~|--.
|  |===|  |'\     .---!~|  .--|   |--|
|%%|   |  |.'\    |===| |--|%%|   |  |
|%%|   |  |\.'\   |   | |__|  |   |  |
|  |   |  | \  \  |===| |==|  |   |  |
|  |   |__|  \.'\ |   |_|__|  |~~~|__|
|  |===|--|   \.'\|===|~|--|%%|~~~|--|
^--^---'--^    `-'`---^-^--^--^---'--' 
                    '''
</pre>

<h1>Welcome to the Library!</h1>
@* <div class="box">
  <p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
  <p>@Html.ActionLink("See all books", "Index", "Books")</p>
  <p>@Html.ActionLink("Your account", "Index", "Account")</p>
</div> *@