@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>
<hr/>
<div class="box">
  @using (Html.BeginForm())
  {
    <button class="btn" type="submit">Yes</button>
  }
</div>

